
<section class="bg-white dark:bg-gray-900">
  <div class="mx-auto max-w-screen-xl mt-16">
      <div class="bg-gray-50 dark:bg-gray-800 border border-gray-200 dark:border-gray-700 rounded-lg p-8 md:p-12">
          <!-- Tag Link -->
          {{ $tags := .Params.tags }}
          {{ if $tags }}
              <div class="mb-2">
                
                  {{ range $tags }}
                      <a href="/tags/{{ . | urlize }}" class="bg-blue-100 text-blue-800 text-xs font-medium inline-flex items-center px-2.5 py-0.5 rounded-md dark:bg-gray-700 dark:text-blue-400 mb-2 lowercase">
                          {{ . }}
                      </a>
                  {{ end }}
              </div>
          {{ end }}

          <!-- Resource Title -->
              <h3 class="text-gray-900 dark:text-white text-3xl md:text-5xl font-extrabold mb-2">
                  {{ .Title | emojify }} <!-- Emojify the title -->
              </h3>

          <!-- Resource Description (if you have a description field in frontmatter) -->
          {{ if .Params.description }}
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
                  {{ .Params.description }}
              </p>
          {{ else }}
              <p class="text-lg font-normal text-gray-500 dark:text-gray-400 mb-6">
                  No description available.
              </p>
          {{ end }}

          <!-- Read More Link -->
          <a href="{{ .Permalink }}" class="text-blue-600 hover:text-blue-800">
              {{ i18n "read-more" }}
              <svg class="w-3.5 h-3.5 ms-2 rtl:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 10">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5h12m0 0L9 1m4 4L9 9"/>
              </svg>
          </a>
      </div>
  </div>
</section>
